// Spinkit
@import '../../node_modules/spinkit/scss/spinners/3-wave';

// DIMENS
$desktop: "(min-width: 767px)";
$mobile: "(max-width: 767px)";

// Colors
$color-green: #39C05D;
$color-green-light: #B8F4B8;
$color-red: #F44336;
$color-red-light: #FFCDD2;

$color-bright: #FF7C6B;
$color-white: #FCF7FF;
$color-gray: #ece7ef;
$color-primary: #58D378;
$color-primary-dark: #39C05D;
$color-primary-light: #80E59B;
$color-secondary: #2196F3;
$color-dark: #333;
$color-blue-light: #B0E9E9;
$color-blue-light-light: #E1F5FE;

// Fonts
$font-default: Lato, Helvetica, SansSerif;
//svg.nvd3-svg {
//  height: 400px;
//  width: 100%;
//}
//
//g.nvd3.nv-wrap.nv-lineChart{
//  width: 100%;
//}



.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

* {
  font-family: $font-default;
}

*, *:after, *:before {
  box-sizing: border-box;
}

.transform-double {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}

.sk-wave .sk-rect {
  margin: 0.5px;
}

.background-primary {
  background-color: $color-primary;
}

.background-bright {
  background-color: $color-bright;
}
.background-secondary {
  background-color: $color-secondary !important;
}

.background-red {
  background-color: $color-red !important;
}

.background-green {
  background-color: $color-green !important;
}

.background-white {
  background-color: $color-white !important;
}

.background-gray {
  background-color: $color-gray !important;
}

.color-bright {
  color: $color-bright !important;
}

.color-white {
  color: $color-white !important;
}

.border-bright {
  border: solid 2px $color-bright;
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;

  min-width: 320px;
  min-height: 480px;
}

.fullwidth {
  width: 100% !important;
}

.halfwidth {
  width: 50% !important;
}

.fullheight {
  height: 100% !important;
}

.c-center {
  justify-content: center;
  @extend .c;
}

.c {
  display: flex !important;
  flex-flow: column;
  align-items: center;
}

.c-around {
  justify-content: space-around;
  @extend .c;
}

.c-between {
  justify-content: space-between;
  @extend .c;
}

.c-start {
  justify-content: flex-start;
  @extend .c;
}

.r-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.r {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.r-left {
  justify-content: flex-start !important;
  align-items: center;
  @extend .r;
}

.r-right {
  justify-content: flex-end;
  align-items: center;
  @extend .r;
}

.r-between {
  justify-content: space-between;
  @extend .r;
}

.r-around {
  justify-content: space-around !important;
  @extend .r;
}

.r.wrap {
  flex-wrap: wrap;
}

.left-right-padding-small {
  padding-left: 6px;
  padding-right: 6px;
}

.card {
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  position: relative;
}

.card-buttons {
  width: 96%;
  padding: 6px 12px;
  @extend .r-right;
}

.no-text-sel {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
}

body {
  background-color: white;
}

.initial {
  background: -webkit-linear-gradient(top right, $color-primary-dark, $color-primary-light);/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, $color-primary-dark, $color-primary-light); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, $color-primary-dark, $color-primary-light);/* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light); /* Standard syntax */

  //input {
  //  width: 90%;
  //  height: 42px;
  //  max-width: 500px;
  //  font-family: $font-default;
  //  font-size: 16px;
  //  color: $color-dark;
  //  padding-left: 8px;
  //  padding-right: 8px;
  //  border-radius: 3px;
  //  background-color: #ededed;
  //  border: 1px #cbcbcb solid;
  //  margin-top: 4px;
  //  margin-bottom: 4px;
  //}
  //input:focus {
  //  box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 8px, rgba(0, 0, 0, 0.219608) 0px 0px 3px;
  //  outline: none;
  //}

  @extend .fullscreen, .r-center;
}

.initial-card {
  width: 90%;
  height: 90%;
  min-height: 400px;
  max-width: 500px;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;

  .container-input {
    width: 90%;
    min-width: 200px;
    max-width: 500px;
    @extend .c-center;
  }

  @extend .card;
}
.log-in {
  .brand {
    padding-top: 12px;
    margin-bottom: 8px;
    @extend .c-center;
  }
  .logo {
    width: 100px;
    @extend .no-text-sel;
  }
  .title {
    font-family: Lato;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    margin: 0;
  }

  .top {
    width: 100%;

    @extend .c-center;
  }
}

.sign-up {
  background-color: $color-primary;
  padding-bottom: 16px;
  .navigation {
    width: 100%;
    height: 52px;
    justify-content: flex-start;
    align-items: center;

    .back {
      width: 30px;
      height: 30px;
      margin-left: 18px;
      margin-right: 12px;
      cursor: pointer;
    }

    .text {
      font-family: $font-default;
      font-size: 20px;
      font-weight: 400;
      margin: 0;
      cursor: pointer;
    }

    @extend .r
  }
}

.courses {
  padding: 76px 4px 0;
  margin: 0;

  .island {
    width: 140px;
    height: 140px;
    display: block;
    margin: 42px auto 4px;
  }
  .nothing {
    width: 100%;
    font-size: 34px;
    font-weight: 300;
    color: $color-gray;
    margin-top: 18px;
    text-align: center;
  }

  li {
    height: 100px;
    border: 1px solid #B4B4B4;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    background-color: white;
    margin: 6px 0;
    .row-middle {
      padding-left: 32px;
      padding-right: 32px;

      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
    }

    .info {
      width: 75%;
      display: flex;
      flex-flow: row;
      align-items: center;
      position: relative;
      margin-left: 4px;

      .code {
        width: 68px;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        color: #3C3F43;
        padding: 0;
        margin: 0 8px 0 0;
        @extend .no-text-sel;
      }
    }

    .title {
      margin: 0;
      font-weight: 300;
      @extend .no-text-sel;
    }

    .time {
      font-size: 10px;
      font-weight: 400;
      color: #3C3F43;
      padding: 0;
      margin: 0;
      @extend .no-text-sel;
    }

    .instructor {
      font-family: Lato;
      font-size: 10px;
      font-weight: 400;
      color: #3C3F43;
      padding: 0;
      margin: 0;
      @extend .no-text-sel;
    }

    .navigation {
      display: flex;
      padding-right: 10px;
      justify-content: center;
      flex-flow: column-reverse;

      .btn {
        width: 100%;
        text-align: center;
        color: $color-secondary;
        cursor: pointer;
        @extend .no-text-sel;
      }

      @extend .c-center;
    }

    @extend .card;
  }
}
.courses > li {
  border-top: none;
}


.button {
  border-radius: 3px !important;
  display: block;
  @extend .button-round;
}
.button-round {
  min-width: 180px;
  display: block;
  font-size: 14px;
  font-family: $font-default;
  font-weight: 700;
  position: relative;
  //@media #{$desktop} {
  //  font-size: 18px !important;
  //  width: 240px !important;
  //}
  color: white;
  text-align: center;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 8px, rgba(0, 0, 0, 0.219608) 0px 0px 3px;
  background-color: $color-bright;
  border-radius: 20px;
  transition: box-shadow 0.1s linear;
  -webkit-transition: box-shadow 0.1s linear;
  cursor: pointer;
  @extend .no-text-sel;
}
.button-round:hover {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 8px 30px, rgba(0, 0, 0, 0.219608) 0px 0px 10px;
}
.button-round:active {
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 1px, rgba(0, 0, 0, 0.219608) 0px 0px 1px;
}
.button-clear {
  width: 100px;
  font-size: 14px;
  font-family: $font-default;
  font-weight: 400;
  @media #{$desktop} {
    width: 200px;
    font-size: 20px;
  }
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 12px;
  color: $color-bright;
  cursor: pointer;
}
.fab {
  $fab_width: 58px;
  width: $fab_width;
  height: $fab_width;
  color: $color-white;
  position: fixed;
  border-radius: 50%;
  display: block;
  box-shadow: 0 8px 11px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  cursor: pointer;
  .plus {
    $plus_width: 14px;
    width: $plus_width;
    height: $plus_width;
    position: relative;
    left: ($fab_width - $plus_width) / 2;
    top: ($fab_width - $plus_width - 2) / 2;
    @extend .no-text-sel;
  }
  @extend .no-text-sel;
}
.fab.br {
  bottom: 32px;
  right: 16px;
}

.dash-courses {
  .add-course {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    background: -webkit-linear-gradient(top right, $color-primary-dark, $color-primary-light);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, $color-primary-dark, $color-primary-light); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, $color-primary-dark, $color-primary-light);/* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light); /* Standard syntax */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0; left: 0; right: 0;
    .three-dots-menu {
      position: absolute !important;
      right: 0;
    }
  }
  $nav-top-height: 34px;
  .nav-top {
    height: $nav-top-height;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    .logout {
      font-family: $font-default;
      font-weight: 300;
      position: absolute;
      left: 12px;
      cursor: pointer;
    }
    .code {
      font-family: $font-default;
      font-size: 28px;
      font-weight: 400;
      line-height: $nav-top-height;
      margin: 0;
    }
  }
  .nav-tabs {
    padding: 6px 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    .tab {
      width: 68px;
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      margin: 0 16px;
      padding: 4px 0;
      color: #333;
      transition: border-bottom 0.05s linear;
      border-bottom: 2px solid transparent;
      text-decoration: none;
      cursor: pointer;
    }
    .tab-active {
      border-bottom: 2px solid $color-dark;
    }
  }

  .overlay{
    .card {
    }
    .content{
      margin-top: 22px;
    }
    .input {
      width: 90%;
      height: 42px;
      max-width: 500px;
      font-family: $font-default;
      font-size: 20px;
      color: $color-dark;
      padding-left: 8px;
      padding-right: 8px;
      border-radius: 3px;
      background-color: #ededed;
      border: 1px #cbcbcb solid;
      margin: 32px auto 4px;
    }
    .input:focus {
      box-shadow: rgba(0, 0, 0, 0.21) 0px 0px 8px, rgba(0, 0, 0, 0.219608) 0px 0px 3px;
      outline: none;
    }
  }
}

$nav-top_height: 34px;
#nav-top_classes {
  height: $nav-top_height;
  width: 100%;
  position: relative;
  #button-back {
    height: $nav-top_height - 20;
    width: $nav-top_height - 20;
    border-top: 2px solid #A4B5BF;
    border-left: 2px solid #A4B5BF;
    transform: rotate(-45deg);
    z-index: 40;
    cursor: pointer;
  }

  .text-back {
    font-famiy: Lato;
    font-weight: 400;
    color: #333;
    margin: 0;
    cursor: pointer;
  }

  .box-back {
    width: 82px;
    position: absolute;
    top: 10px;
    left: 12px;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .logout {
    font-family: Lato;
    font-weight: 400 !important;
    color: #333;
    position: absolute;
    top: 8px;
    left: 20px;
    cursor: pointer;
    z-index: 100;
  }

  #button-back {
    color: #A3B8C1;
  }
}

.loading {
  position: absolute;
  top: 0;  bottom: 0;
  right: 0;  left: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background: -webkit-linear-gradient(top right, $color-primary-dark, $color-primary-light);/* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom left, $color-primary-dark, $color-primary-light); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom left, $color-primary-dark, $color-primary-light);/* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light); /* Standard syntax */
  .text {
    width: 100%;
    font-family: Lato;
    font-size: 52px;
    font-weight: 300;
    color: $color-dark;
    margin: 0;
    text-align: center;
  }
  .logo {
    width: 140px;
    height: 140px;
  }
}
.dialog-text {
  line-height: 130%;
}

.dash-student {
  //$nav_height: 68px;
  $top-height: 64px;
  .header {
    height: 28px;
    font-family: $font-default;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    position: relative;
    bottom: 18px;
    margin: 0;
    color: $color-dark;
  }
  .displayed-content {
    position: absolute;
    top: $top-height;
    left: 0; right: 0; bottom: 0;
  }
  .in-attendance {
    width: 100%;
    text-align: center;
    font-weight: bolder;
  }
  .in-attendance.yes {
    color: $color-green;
  }
  .in-attendance.no {
    color: $color-red;
  }

  @extend .fullscreen;
}

.assessment {
  overflow-y: auto;
  .choice {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    // background-color: $color-blue-light-light;
    .text {
      font-size: 16px;
      max-width: 80%;
    }
    .letter-box {
      width: 40px;
      height: 40px;
      background-color: $color-secondary;
      @extend .card, .c-center;
    }
    .letter-box.active {
      background-color: $color-green;
    }
    .letter {
      font-size: 18px;
      margin: 0;
      color: white;
    }
    @extend .c-center;
  }
  .choice.active {
    background-color: $color-green-light;
  }
  .assessment-question {
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    span {
      font-size: 24px;
      font-weight: bolder;
      margin-right: 8px;
    }

  }

  .response {
    width: 95%;
    margin: 8px auto;
    .text {
      padding: 8px;
      font-size: 14px;
      margin-bottom: 0;
    }
    .buttons {
      padding: 4px 0 8px 0;
      @extend .r-around;
    }
    @extend .card;
  }

  @extend .displayed-content;
}
$nav-btn-height: 40px;
.nav-btns {
  height: 40px;

  .btn {
    width: 72px;
    height: 30px;
    font-family: $font-default;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin: 4px 12px;
    border-radius: 3px;
    border: 2px solid $color-dark;
    cursor: pointer;

    @extend .no-text-sel;
  }

  .btn-active {
    border-color: $color-dark;
    background-color: $color-dark;
    color: $color-white;

  }

  @extend .r-center;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;

  .card {
    width: 80%;
    max-width: 400px;
    height: 174px;
    padding: 8px;
    z-index: 150;
    position: relative;
    @extend .c, .card;
  }

  .x {
    position: absolute;
    font-size: 30px;
    top: 2px;
    right: 8px;
    margin: 0;
    color: $color-red;
    cursor: pointer;
  }

  .content {
    padding-left: 4px;
    padding-right: 4px;

    .text {
      font-family: $font-default;
      font-size: 22px;
      text-align: center;
      color: $color-dark;
    }
    @extend .c-center;
  }
  a {
    margin-bottom: 14px;
    margin-top: 8px;
  }
  @extend  .fullscreen, .c-center;
}

.container-input {
  margin-top: 6px;
  .input {
    width: 90vw;
    height: 240px;
    max-width: 600px;
    font-family: $font-default;
    font-size: 15px;
    border-radius: 3px;
    border: 2px solid #c1c1c1;
    padding: 8px;
    resize: none;
  }
  .input:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 9px, rgba(0, 0, 0, 0.2) 0px 0px 3px;
    outline: none;
  }
  @extend .r-center;
}
.ask-question {
  .ask-a-question {
    width: 100%;
    text-align: center;
    font-weight: 300;
  }
}

.assessment-box {
  width: 98%;
  margin: 0 auto;
  h3 {
    margin: 2px auto;
    font-weight: bolder;
  }
  p {
    margin: 2px auto;
    line-height: 110%;
  }
  span {
    margin-right: 8px;
    margin-left: 8px;
    font-weight: bolder;
    line-height: 110%;
  }
  @extend .card;
}

.dash-admin {
  $admin-nav_width: 100px;
  background-color: $color-white;
  min-width: 400px;
  .nav {
    width: $admin-nav_width;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    background: -webkit-linear-gradient(top right, $color-primary-dark, $color-primary-light);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, $color-primary-dark, $color-primary-light); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, $color-primary-dark, $color-primary-light);/* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light); /* Standard syntax */
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.14), 3px 0 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    .section-title {
      font-size: 18px;
      text-align: center;
      margin: 4px 0;
    }
    hr {
      width: 100%;
      height: 2px;
      background-color: $color-dark;
      outline: none;
      border: none;
      margin: 4px 0;
    }
    .sidenav-button {
      width: $admin-nav_width - 8px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      cursor: pointer;
      border: 1px transparent solid;
      @extend .no-text-sel;
    }
    .sidenav-button:hover {
      border: 1px $color-white solid;
    }
    .sidenav-button:active {
      background-color: $color-dark;
      border: 1px transparent solid;
      color: $color-white;
    }
    .sidenav-button-active {
      background-color: $color-dark;
      border: 1px transparent solid;
      color: $color-white;
      @extend .sidenav-button;
    }
    @extend .c;
  }
  .stage {
    position: absolute;
    left: $admin-nav_width + 2;
    top: 0; right: 0; bottom: 0;
    @extend .c-center;
  }
  .formcard {
    height: 90%;
    width: 90%;
    min-width: 200px;
    min-height: 300px;
    padding: 22px;
    background-color: white;
    justify-content: space-between;
    overflow-y: auto;
    form {
      @extend .c-center;
    }
    .input {
      height: 32px;
      width: 100%;
      padding: 0 4px;
      font-size: 18px;
      border: solid 1px $color-dark;
      border-radius: 2px;
      margin: 8px 0;
    }
    @extend .card, .c;
  }
  .list {
    list-style-type: none;
    background-color: $color-white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      padding: 3px;
      border: 1px solid $color-dark;
    }
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    .label {
      margin-right: 8px;
    }
  }
  .radio {
    margin-left: 8px;
    margin-right: 4px;
  }
}
.half-sliding-strip {
  width: 49%;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  bottom: 0;
  padding: 124px 0 4px 0;
  position: absolute;
  @extend .c, .card;
}
.half-sliding-strip.left {
  left: 0.5%;
}

.half-sliding-strip.right {
  right: 0.5%;
}

.question-bank {
  .bank-section {
    width: 72px;
    text-align: center;
    margin: 4px 0;
    border-radius: 14px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    color: white;
    background-color: $color-dark;
    @extend .no-text-sel;
  }
}
.banked-assessment-add-label {
  margin: 8px;
  text-align: left;
}
.banked-assessment-add-question {
  padding: 4px;
  width: 100%;
  font-size: 14px;
  height: 52px;
  resize: none;
}
.banked-assessment-add-tag {
  padding: 4px;
  font-size: 14px;
  width: 70%;
  resize: none;
}

.banked-assessment-add-option-add {
  width: 100%;
  background-color: $color-green-light;
  color: $color-dark;
  cursor: pointer;
  p {
    cursor: pointer;
    margin: 4px;
    @extend .no-text-sel;
  }
}
.section-add-tag {
  width: 100%;
  height: 48px;
  @extend .r-around;
}
.tag {
  text-align: center;
  margin: 4px 2px;
  padding: 2px 10px;
  // border-radius: 12px;
  color: $color-dark;
  p {
    margin: 0;
    line-height: 24px;
    display: inline-block;
  }
  @extend .card, .r;
}
.tag.add {
  width: 120px;
  background-color: $color-green-light;
  cursor: pointer;
  p {
    width: 100px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    @extend .no-text-sel;
  }
}
.tag.cancel {
  width: 100px;
  background-color: $color-red-light;
  cursor: pointer;
  p {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: $color-dark;
    font-weight: bold;
    @extend .no-text-sel;
  }
}

.bq-option {
  margin: 4px 0;
  width: 90%;
  position: relative;
  min-height: 44px;
  @extend .card, .r-left;
}
.bq-option.correct {
  background-color: $color-green-light;
}
.bq-letter {
  line-height: 100%;
  width: 38px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
  padding-left: 8px;
  padding-right: 8px;
  margin: 0;
  cursor: pointer;
  @extend .no-text-sel;
}
.bq-content {
  width: 100%;
  padding: 12px 20px 12px 0;
  margin: 0;
  font-size: 0.9em;
  cursor: text;
  @extend .no-text-sel;
}
.bq-content.editable {
  width: 72%;
  resize: none;
  padding: 4px;
}
.bq-clear {
  position: absolute !important;
  right: -12px;
}
.floating-heading {
  position: fixed;
  top: 0;
  right: 4px;
  left: 128px;
  z-index: 10;

  .partition-half {
    width: 50%;
    display: block;
    @extend .c-center;
  }

  @extend .c-center, .card;
}

.banked-question-list {
  width: 100%;
  margin: 0;
  padding: 8px;

  .banked-question {
    width: 96%;
    margin: 0 auto 18px auto;

    .tag-strip {
      width: 100%;
      border-radius: inherit;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background-color: #eee;
      flex-wrap: wrap;
      .label {
        margin: 2px 4px;
        display: inline-block;
        font-weight: bolder;
      }
      @extend .r;
    }


    .strip {
      width: 100%;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-bottom: 1px solid rgba(0,0,0, 0.1);
      background-color: $color-primary-light;
      @extend .r-between;
    }
    .strip-label {
      margin: 0 0 0 12px;
      padding: 4px 0;
      display: inline-block;
      @extend .no-text-sel;
    }
    .question-content {
      width: 98%;
      margin: 0;
      padding: 4px;
      font-size: 0.9em;
      text-align: left;
    }
    .question-content-edit {
      resize: none;
      width: 98%;
      height: 48px;
      font-size: 14px;
      padding: 4px;
    }
    .bq-actions {
      padding: 4px 0;
      width: 94% !important;
      @extend .r-between;
    }
    .cancel {
      margin-right: 4px;
      font-weight: 800;
      color: $color-red;
      cursor: pointer;

    }
    .edited {
      margin: 0 8px 0 0;
      font-weight: bolder;
      color: white;
      background-color: $color-dark;
      padding: 3px 7px;
      font-size: 0.8em;
      border-radius: 12px;
    }

    @extend .card, .c;
  }
}

.dropdown-arrow {
  cursor: pointer;
}

.reflective {
  .stage {
    width: 100%;
    text-align: center;
    span {
      font-weight: bolder;
      font-size: 18px;
      margin-right: 8px;
    }
  }
  @extend .no-text-sel;
}

.reflective-review {
  .placeholder {
    font-weight: 300;
    padding: 0 20%;
    text-align: center;
    position: relative;
    font-size: 24px;
    color: rgba(0,0,0,0.2);
    bottom: 5%;

  }
}

.dash-instructor {
  $side-nav-width: 124px;
  min-height: 660px;
  position: absolute;
  top: 0; right: 0; bottom: 0;
  left: $side-nav-width + 2;
  z-index: 100;

  .side-nav {
    min-height: 660px;
    width: $side-nav-width;
    background: -webkit-linear-gradient(top right, $color-primary-dark, $color-primary-light);/* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom left, $color-primary-dark, $color-primary-light); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom left, $color-primary-dark, $color-primary-light);/* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, $color-primary-dark, $color-primary-light); /* Standard syntax */
    position: fixed;
    top: 0; left: 0; bottom: 0;
    padding-top: 8px;
    border-radius: 3px;
    box-shadow: 0 0 2px 3px rgba(0, 0, 0, 0.14), 0px 0 1px 1px rgba(0, 0, 0, 0.2), 0px 0 5px 3px rgba(0, 0, 0, 0.12);

    .logo {
      width: 80px;
      margin: 0 auto;
      @extend .no-text-sel;
    }

    .code {
      margin: 4px auto;
      font-weight: 800;
      color: $color-dark;
    }

    $action-bar-height: 22px;
    .active-bar {
      width: 100%;
      height: $action-bar-height;
      background-color: $color-green;
      margin-top: 4px;
      margin-bottom: 4px;
      border-top: 1px solid $color-dark;
      border-bottom: 1px solid $color-dark;
      box-shadow: -2px 0 2px 2px rgba(0, 0, 0, 0.14), -2px 0 1px 0px rgba(0, 0, 0, 0.2), -2px 0 5px 2px rgba(0, 0, 0, 0.12);
      .text {
        width: 100%;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        color: $color-white;
        margin: 0;
        line-height: $action-bar-height;
        @extend .no-text-sel;
      }
    }
    .inactive {
      background-color: $color-red !important;
    }

    $nav-btn-width: 38px;
    .nav-btn {
      width: $nav-btn-width;
      height: $nav-btn-width;
      position: relative;
      //background: $color-dark;
      background: $color-bright;
      margin: 4px auto 2px;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.14), 0 0 1px -1px rgba(0, 0, 0, 0.2), 0 0 5px 1px rgba(0, 0, 0, 0.12);
      transition: box-shadow 0.1s linear;
      -webkit-transition: box-shadow 0.1s linear;
      .icon {
        height: $nav-btn-width - 14;
        width: $nav-btn-width - 14;
        margin: auto;
        display: block;
        @extend .no-text-sel;
      }
      @extend .c-center;
    }
    .nav-btn:active {
    }
    .nav-btn:hover {
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.14), 0 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 5px 2px rgba(0, 0, 0, 0.12);
    }
    .title {
      width: 100%;
      text-align: center;
      color: $color-dark;
      font-weight: 300;
      margin: 0;
    }
    .label {
      width: 100%;
      font-size: 0.8em;
      text-align: center;
      color: $color-dark;
      margin: 0;
    }
    hr {
      border: none;
      border-bottom: 1px dashed $color-dark;
      width: 100%;
    }
    @extend .c;
  }

  .filters-text {
    font-size: 14px;
    margin: 0 12px;
    @extend .no-text-sel;
  }
  $header_height: 52px;
  .header {
    height: $header_height;
    padding-left: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    input {
      max-width: 116px;
    }
    @extend .r;
  }
  .heading {
    color: $color-dark;
    line-height: $header_height;
    margin: 0 12px 0 0;
  }
  .filter {
    margin: 0 8px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    @extend .no-text-sel;
  }
  .filter.active {
    color: $color-bright;
    font-weight: 700;
    border-bottom: 1px solid $color-bright;
  }

.settings {
  position: absolute;
  top: 12px; left: 12px; right: 12px; bottom: 12px;
  background-color: white;

  }

  .options {
    padding: 22px;
  }

  .toggle {
    width: 300px;
    display: inline-block;
    .title {
      margin: 0;
    }
    .on-off {
      text-align: center;
      margin: 2px 0;
    }
  }
  .toggle-switch {
    display: block;
    max-width: 150px;
    margin: 16px auto;
  }
  .toggle-enable {
    position: relative;
    top: 2px;
    @extend .toggle;
  }

  .slider {
    width: 300px;
    display: inline-block;
    .value {
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: block;
      background-color: $color-dark;
      color: $color-white;
      text-align: center;
      margin: 4px auto;
      border-radius: 50%;
    }
  }

  .title {
    margin: 0;
    text-align: center;
    color: $color-dark;
  }

  .confusion {
    position: absolute;
    top: 12px; left: 12px; right: 12px; bottom: 12px;
    background-color: white;

    @extend .card;
  }
  .heading {
    width: 100%;
    margin-bottom: 4px;
    border-bottom: 1px dashed $color-gray;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    .header {
      display: inline-block;
      width: 100%;
      font-weight: 300;
      padding: 0px 12px;
      height: inherit;
      font-size: 36px;
      margin: 0;
      cursor: default;
      @extend .no-text-sel;
    }
    .header.left {
      width: auto;
    }
    .active-status {
      width: 88px;
      color: white;
      margin: 0;
      position: absolute;
      right: 20px;
      top: 0; bottom: 0;
      @extend .c;
    }
    .status {
      width: 100%;
      font-size: 0.8em;
      text-align: center;
      padding: 8px 12px;
      border-radius: 12px;
      line-height: 100%;
      margin: auto 0;
    }
  }

  .stat {
    margin: 0 8px;
    .name {
      font-weight: 700;
      margin: 0 auto;
    }
    .number {
      margin: 0 auto;
      font-size: 42px;
      width: 100%;
      text-align: center;
    }

  }

  .mode-content {
    position: absolute;
    top: 12px; left: 12px; right: 12px; bottom: 12px;
  }

  .assess {
    .pages {
      margin-right: 14px;
      text-align: center;
    }

    $option-height: 92px;
    $option-width: 120px;
    $option-margin: 12px 4px;
    .option-grid {
      height: $option-height;
      flex-wrap: wrap;
      @extend .r-center;
    }

    .option-list {
      list-style: none;
      overflow-y: auto;
      max-height: 240px;
      min-height: 240px;
      border-top: 1px solid rgba(0,0,0,0.1);
      border-bottom: 1px solid rgba(0,0,0,0.1);
      padding: 0 8px;
      margin: 0;
      @extend .c;
    }
    .option {
      $letter-height: 30px;
      .letter {
        width: $letter-height;
        height: $letter-height;
        line-height: $letter-height;
        text-align: center;
        font-weight: 800;
        margin-right: 8px;
        margin-bottom: 0;
        margin-top: 0;
        background-color: $color-blue-light;
        font-size: 1.2em;
        display: inline-block;
      }
      .content {
        width: 90%;
        font-size: 0.85em;
        margin: 0;
        display: inline-block;
      }
      @extend .r-between;
    }
    .add-option {
      width: 100%;
      min-height: 42px;
      textarea {
        font-size: 14px;
        width: 100%;
        resize: none;
      }
      @extend .r-between;
    }

    .reflective-question {
      display: block;
      font-size: 14px;
      resize: none;
      width: 94%;
      height: 40%;
      margin: 8px auto;

    }


    @extend .mode-content;
  }

  .ask {
    .most-voted {
      display: inline-block;
      height: 70%;
      width: 100%;
      background-color: white;
      @extend .card;
    }
    @extend .mode-content;
  }
  .left-pane {
    display: inline-block;
    height: 100%;
    width: 49.5%;
  }
  .right-pane {
    display: inline-block;
    height: 100%;
    width: 49.5%;
  }

  .top-pane {
    position: absolute;
    top: 12px;
    left: 12px;
    right: 12px;
    display: inline-block;
    height: 47.5%;
    background-color: white;
    @extend .card;
  }

  .half-pane {
    display: inline-block;
    height: 49.5%;
    width: 99%;
    background-color: white;
    @extend .card;
  }

  .two-thirds-pane {
    display: inline-block;
    height: 66.16%;
    width: 99%;
    background-color: white;
    @extend .card;
  }

  .one-thirds-pane {
    display: inline-block;
    height: 32.83%;
    width: 99%;
    background-color: white;
    @extend .card;
  }



  .full-pane {
    position: absolute;
    top: 6px; right: 6px; left: 6px; bottom: 6px;
    display: inline-block;
    background-color: white;
    @extend .card;
  }

  .bottom-pane {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    display: inline-block;
    height: 47.5%;
    background-color: white;
    @extend .card;
  }

}
.question-response {
  width: 94%;
  // margin: 8px 0 auto auto;
  margin-left: 10px;
  position: relative;
  background-color: rgba(0,0,0,0.01);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  .rank {
    //float: left;
    width: 20px;
    height: 20px;
    background-color: $color-dark;
    color: $color-white;
    border-radius: 50%;
    display: block;
    margin: 0;
    font-weight: 800;
    font-size: 12px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.14), 0 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 5px 2px rgba(0, 0, 0, 0.12);
    @extend .no-text-sel;
  }
  .rank-text {
    width: 20px;
    line-height: 20px;
    text-align: center;
    position: relative;
    right: 0.5px;
    margin: 0;
  }
  .content {
    font-size: 14px;
    line-height: 140%;
    padding: 0px 8px 8px 8px;
    margin: 0;
  }
  .buttons {
    height: 26px;
    padding: 0 8px;
    background-color: rgba(210, 210, 210, 0.38);
    border-radius: 3px;
    @extend .r-between;
  }
  .time {
    width: 52px;
    font-size: 8px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    @extend .no-text-sel;
  }
  .clear {
    display: block;
    padding: 2px;
  }
}

.question-response.response {
}
.question-response.question {
  // margin: 8px auto auto auto;
  margin-left: 10px;
}
.question-response-list {
  padding: 0;
  border-left: solid 1px #cccccc;
  background-color: rgba(0,0,0, 0.02);
  margin: 0;
}

.filter-bar {
  width: 100%;
  min-height: 42px;
  background-color: rgba(210, 210, 210, 0.38);
  .filter-label {
    display: inline-block;
    margin: 0 8px 0 8px;
  }
  .filter {
    // margin: 0 12px 0 0;
    width: 40px;
    height: 40px;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-size: 0.8em;
    @extend .c-center;
  }
  .filter.active {
    color: $color-bright;
    border-bottom: 2px solid $color-bright;
  }
  @extend .r;
}

.alert-graph {
  $bar-height: 22px;
  width: 100%;
  height: $bar-height;
  position: absolute;
  bottom: 0;
  background-color: $color-white;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  z-index: 1;
  .bar {
    height: $bar-height;
    width: 100%;
    p {
      font-size: 18px;
      margin-left: 8px;
      line-height: $bar-height;
    }

    @extend .r;
  }
}

.sign-up-instructor {
  .card {
    padding: 34px 54px;
  }
  .header {
    width: 100%;
    text-align: center;
    font-weight: 400;
    margin: 4px 0;
    @extend .no-text-sel;
  }
}

.home-instructor {
  .course-list {
    position: absolute;
    top: 72px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    @extend .r-left;
  }
  .pages {
    position: absolute;
    bottom: 6px;
    right: 8px;
    margin: 4px 0;
    text-align: center;
  }
  .next-page {
    position: absolute !important;
    bottom: 8px;
    right: 60px;
  }
  .prev-page {
    position: absolute !important;
    bottom: 8px;
    right: 156px;
  }
  .course {
    width: 140px;
    height: 140px;
    margin: 0 8px;
    z-index: 10;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 8px, rgba(0, 0, 0, 0.219608) 0px 0px 3px;

    p {
      cursor: pointer;
      @extend .no-text-sel;
    }

    .abbreviation {
      margin: 0;
      font-size: 22px;
    }
    .time {
      margin: 0;
      font-size: 10px;
    }
    .days {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 14px;
    }
    .date {
      margin-top: 0;
      margin-bottom: 12px;
      font-size: 16px;

    }

    .icon {
      width: 82px;
      display: block;
      cursor: pointer;
      @extend .no-text-sel;
    }

    .text {
      margin: 0 0 22px;
      font-size: 18px;
      @extend .no-text-sel;
    }

    @extend .c, .card;
  }
  .course.add {
    background-color: $color-green;
  }
  .course:hover {
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 3px 20px, rgba(0, 0, 0, 0.219608) 0px 0 3px;
  }
  .course:active {
    box-shadow: rgba(0, 0, 0, 0.247059) 0px 2px 1px, rgba(0, 0, 0, 0.219608) 0px 0px 1px;
  }

}

#lineChart svg {
  min-height: 400px;
  max-width: 750px;
}

#instantGraph svg {
  min-height: 300px;
}
